nav{
    background-color: black;
      padding: 10px 10px;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      width: 100%;
      z-index: 1000;
      gap: 700px;
}
 nav h1{
   margin: 0;
   font-size: 30px;
   
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    /* padding: 0; */
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    transition: red 0.3s ease;
}
nav ul li{
    cursor: pointer;
}
nav ul li a:hover{
    color: #00bcd4;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}


@media (max-width: 900px) {
    nav {
        gap: 50px; 
        padding: 10px 20px;
    }
    nav h1 {
        font-size: 24px;
    }
    nav ul li a {
        font-size: 18px;
    }
    nav ul {
        gap: 20px;
    }
}


@media (max-width: 600px) {
  nav {
    flex-wrap: wrap;
    padding: 10px 15px; 
  }
  
  .menu-toggle {
    display: block;
    margin-right: 10px; 
  }
  
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }
  
  nav ul.show {
    display: flex;
  }
}
